*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


**/.idea
**/*.iml
**/*.MF

**/.settings
**/.project
**/.classpath

**/target/
__ConfigTemp
classes/
logs/
temp/
out/

*.iml
overlays
target
.idea
.DS_Store